@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

// /* #BEBBBB
// #444054
// #2F243A
// #FAC9B8 */

* {
  box-sizing: border-box;
}


body, header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header {
  text-align: left;
  color: #FAC9B8;
  padding: 0.1rem;
  max-width: 19rem;
  margin-left: 13vw;
  margin-top: 3vh;
}

h1 {
  font-family: 'ROBOTO', sans-serif;
  font-size: 800;
}


body {
  // display: flex;
  font-family: 'ROBOTO', sans-serif;
  // transition: background .4s ease-in;
  background-color: #2F243A;
  
  // &.blue {
  //   background-color: #428aa6;
  // }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60vw;
  height: 25vh;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  margin-top: 6vh;
  display: flex;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  flex-direction: column;
}

.cards {
  // position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #project-3, #item-2:checked ~ .cards #project-1, #item-3:checked ~ .cards #project-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #project-2, #item-2:checked ~ .cards #project-3, #item-3:checked ~ .cards #project-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #project-1, #item-2:checked ~ .cards #project-2, #item-3:checked ~ .cards #project-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(141, 141, 141, 0.47);
  }
}

.player {
  // position: relative;
  border-radius: 8px;
  // min-width: 80vw;
  padding: 16px 10px;
  margin-top: 12rem;
  margin-left: 3rem;
}

.upper-part {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  height: 36px;
  overflow: hidden;
}

.project-info {
  width: calc(100%);
  display: block;
}


.project-info .title {
  color: #FAC9B8;
  font-size: 30px;
  line-height: 24px;
  align-items: center;
  padding: 8px;
  margin: auto;
  transition: transform 0.1s ease-in;
}

.project-info .title:hover {
  transform: scale(1.01);
}

.project-info .title a {
  color: #FAC9B8;
  text-decoration: none;
}

.info-area {
  position: absolute;
  top: 0;
  left: 10vw;
  transition: transform .4s ease-in;
}

#item-2:checked ~ .player #test {
  transform: translateY(0);
}

#item-2:checked ~ .player #test  {
  transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
  transform: translateY(-80px);
}

footer {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
}

@media (min-width: 720px) {
  body, header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }  

  header {
    text-align: center;
    color: #FAC9B8;
    padding: 0.1rem;
    max-width: 20rem;
    // margin-left: 10vw;
    margin-left: 15%;
    margin-top: 5vh;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .container {
    margin-left: auto;
    margin-right: 70px;
    max-width: 50vw;
    width: 70%;
    height: 47vh;
    display: flex;
    flex-direction: column;
  }

  .card {
    position: absolute;
    width: 70%;
    height: 75%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
  }

  .player {
    border-radius: 8px;
    padding: 16px;
    margin-right: 100px;
  }

  // .player {
  //   position: relative;
  //   border-radius: 8px;
  //   min-width: 80vw;
  //   padding: 16px 10px;
  //   margin-top: 22vh;
  //   margin-left: 13vw;
  // }

  .project-info .title {
    // margin:auto;
    text-align: center;
  }

  .info-area {
    width: 100%;
    position: absolute;
    margin: auto;
    top: 1px;
    left: 30px;
    transition: transform .4s ease-in;
  }
  
  footer {
    margin-top: 90px;
  }
}